@model Concert
  <!-- header -->
<header>
    <!-- header inner -->
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a asp-controller="Home" asp-action="Index"><img src="images/logo.png" alt="#" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9">

                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu ">
                                <ul class="menu-area-main">
                                    <li> <a asp-controller="Home" asp-action="Index">Home</a> </li>
                                    <li> <a asp-controller="About" asp-action="Index">About</a> </li>
                                    <li class="active"> <a asp-controller="Concerts" asp-action="Index">Concerts </a> </li>
                                    <li> <a asp-controller="Gallery" asp-action="Index">Gallery</a> </li>
                                    <li> <a asp-controller="Contact" asp-action="Index">Contact</a> </li>
                                    <li> <a href="#contact">login</a> </li>
                                    <li> <a class="last_manu" href="#"><img src="images/search_icon.png" alt="#" /></a> </li>

                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header inner -->
    <!-- end header -->

</header>


<div class="backgro_mh">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heding">
                    <h2>Upcoming Concerts</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- upcoming -->
<div id="upcoming" class="upcoming">
    <div class="container-fluid padding_left3">
        <div class="row display_boxflex">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                <div class="box_text">
                    <div class="titlepage">
                        <h2>@Model.Name</h2>
                    </div>
                    <p>@Model.Title</p>
                    <a href="Javascript:void(0)">Read More</a>
                </div>
            </div>

            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 border_right">
                <div class="upcomimg">
                    <figure><img src="images/@Model.Image" alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end upcoming -->